@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$header-bg-color: #ff9900;
$header-color: white;
$header-bg-close-button: red;
* {
  font-family: 'Lato', sans-serif;
}

body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 62%,
    rgba(252, 222, 190, 1) 100%
  );
}
.modale-window {
  background-color: $header-color;
  border-radius: 2px;
  position: fixed;
  border: solid 1px $header-bg-color;
  z-index: 3;
  &-header {
    background-color: $header-bg-color;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    user-select: none;
  }
  &-title {
    padding: 5px;
    color: $header-color;
  }
  &-close {
    height: 30px;
    width: 30px;
    background-color: $header-bg-color;
    color: $header-color;
    border: none;
    &:hover {
      background-color: $header-bg-close-button;
      cursor: pointer;
    }
  }
  &-main {
    margin: 5px;
  }
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
  }
}

.button-modale {
  width: 100px;
  height: 25px;
  border: none;
  border: solid 1px $header-bg-color;
  background-color: $header-bg-color;
  color: $header-color;
  border-radius: 3px;
  margin: 5px;
  &:hover {
    background-color: $header-color;
    color: $header-bg-color;
    cursor: pointer;
  }
}

input {
  position: relative;
  width: 99%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  outline: none;
  padding: 8px 52px 8px 10px;
}
fieldset {
  border: 1px solid #ccc;
}

.saveButton {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;

  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 500;
  &:hover {
    background-color: #24292e;
    color: #fafbfc;
    box-shadow: none;
  }
}
td {
  border: 1px solid #333;
  padding: 5px;
}
th {
  padding: 5px;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
